@model Ziekenhuis_StayHealthy.Models.Zorgverlener

@{
    ViewBag.Title = "Delete";
    var zorgverlenerLetter = Model.Naam.First();

    if (Session["function"] == null)
    {
        Response.Redirect("~/Home/Index");
    }
}

<link href="~/Content/deleteView.css" rel="stylesheet" />

<div class="wrapper-box">
    <div class="wrapper-top">
        <div class="user-eclipse">
            @zorgverlenerLetter
        </div>
    </div>

    <div class="wrapper-mid">
        <h3 class="wrapper-title">verwijderen</h3>
    </div> <br />
           <div class="wrapper-info" style="width:450px">

               <a class="text-label">Naam</a>

               <div class="text-info">@Html.DisplayFor(model => model.Naam)</div>
               <br />
               <a class="text-label">Functie</a>

               <div class="text-info"> @Html.DisplayFor(model => model.Functie)</div>


               @using (Html.BeginForm())
               {
                   @Html.AntiForgeryToken()
                   <div>
                       <button class="button-submit" onclick="location.href='@Url.Action("Delete","Zorgverlener", new { id = Model.Zorgverlener_ID })'">Verwijderen</button>
                   </div>
                   <div>
                       <button class="button-back" onclick="location.href='@Url.Action("Index", "Zorgverlener" )'">Terug</button>
                   </div>
               }
           </div>
</div>

