@model Ziekenhuis_StayHealthy.Models.Zorgverlener

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Zorgverlener</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Functie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Functie)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Zorgverlener_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
