@model Ziekenhuis_StayHealthy.Models.Patient

@{
    ViewBag.Title = "Create";
}

<link href="~/Content/createPatient.css" rel="stylesheet" />
<div class="background">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="wrapper-input">
            <h3 class="create-title">Patiënt aanmaken</h3>
            <div class="wrapper-boxes">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <a class="box-desc">Voornaam</a><br />
                @Html.EditorFor(model => model.Voornaam, new { htmlAttributes = new { @class = "input-box" } })<br />
                @Html.ValidationMessageFor(model => model.Voornaam, "", new { @class = "text-danger" })<br />


                <a class="box-desc">Achternaam</a><br />

                @Html.EditorFor(model => model.Achternaam, new { htmlAttributes = new { @class = "input-box" } })<br />
                @Html.ValidationMessageFor(model => model.Achternaam, "", new { @class = "text-danger" })<br />


                <a class="box-desc">Adres</a><br />

                @Html.EditorFor(model => model.Adres, new { htmlAttributes = new { @class = "input-box" } })<br />
                @Html.ValidationMessageFor(model => model.Adres, "", new { @class = "text-danger" })<br />



                <a class="box-desc">Geboortedatum</a><br />

                @Html.EditorFor(model => model.Geboortedatum, new { htmlAttributes = new { @class = "input-box", @id = "date-picker" } })<br />
                @Html.ValidationMessageFor(model => model.Geboortedatum, "", new { @class = "text-danger" })<br />



                <a class="box-desc">Telefoonnummer</a><br />

                @Html.EditorFor(model => model.Telefoonnummer, new { htmlAttributes = new { @class = "input-box" } })<br />
                @Html.ValidationMessageFor(model => model.Telefoonnummer, "", new { @class = "text-danger" })<br />

                <a class="box-desc">Afdeling_ID</a><br />

                @Html.EditorFor(model => model.Afdeling_ID, new { htmlAttributes = new { @class = "input-box" } })<br />
                @Html.ValidationMessageFor(model => model.Afdeling_ID, "", new { @class = "text-danger" })<br />



                <a class="box-desc">Kamer_ID</a><br />

                @Html.EditorFor(model => model.Kamer_ID, new { htmlAttributes = new { @class = "input-box" } })<br />
                @Html.ValidationMessageFor(model => model.Kamer_ID, "", new { @class = "text-danger" })<br />


                <a class="box-desc">Gearchiveerd</a><br />

                @Html.EditorFor(model => model.Gearchiveerd)<br />
                @Html.ValidationMessageFor(model => model.Gearchiveerd, "", new { @class = "text-danger" })<br />

                <input type="submit" value="Aanmaken" class="button-submit" />


                <div>
                    <button class="button-back" onclick="location.href='@Url.Action("Index", "Patient" )'">Terug</button>
                </div>
            </div>
        </div>
    }

</div>

@section Scripts {
    <script>
        $(function () {
            // This will make every element with the class "date-picker" into a DatePicker element
            $('#date-picker').datepicker({
                dateFormat: 'yy-mm-dd',
                changeYear: true,
                yearRange: "1920:@DateTime.Now.Year",
                changeMonth: true,
                firstDay: 1,
                defaultDate: '1970-1-1'

            }).val();
        })
    </script>

    @Scripts.Render("~/bundles/jqueryval")
}
