@model Ziekenhuis_StayHealthy.Models.Patient

@{
    ViewBag.Title = "DashboardPatient";
   if (Session["function"] == null)
    {
        Response.Redirect("~/Home/Index");
    }
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/DashboardPatient.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Dashboard-Patient</title>
</head>

<body>
    <div class="box-container">
        <button class="box" id="gegevens-box">
            <img src="~/Images/dashboardpatient/ user.png" class="box-logo" onclick="location.href='@Url.Action("Details", "Patient" )'" /><br />
            Mijn gegevens
        </button>
        <button class="box" id="licht-box" onclick="location.href='@Url.Action("LampBedienen", "Patient" )'">
            <img src="~/Images/dashboardpatient/ lightbulb.png" class="box-logo" /><br />
            Licht bedienen
        </button>
        <button class="box" id="gordijn-box" onclick="location.href='@Url.Action("GordijnenBedienen", "Patient" )'">
            <img src="~/Images/dashboardpatient/ home.png" class="box-logo" /><br />
            Gordijnen bedienen
        </button>
        <button class="box" id="media-box" onclick="location.href='@Url.Action("MediaPlayerBedienen", "Patient" )'">
            <img src="~/Images/dashboardpatient/ queue.png" class="box-logo" /><br />
            Media bedienen
        </button>
        <button class="box" id="eten-box">
            <img src="~/Images/dashboardpatient/ bread.png" class="box-logo" /><br />
            Eten aanvragen
        </button>
        <button class="box" id="temperatuur-box" onclick="location.href='@Url.Action("TemperatuurBedienen", "Patient" )'">
            <img src="~/Images/dashboardpatient/ flame.png" class="box-logo" /><br />
            Temperatuur wijzigen
        </button>

        <div class="box" id="hulp-box">
            <img src="~/Images/dashboardpatient/ alert-triangle.png" /> <br />
            <a class="box-desc">Hulp vragen</a>
        </div>

    </div>
        
</body>

</html>


