@model Ziekenhuis_StayHealthy.Models.Patient

@{
    ViewBag.Title = "Delete";
    var userLetter = Model.Voornaam.First();
    var shortDate = Model.Geboortedatum.ToShortDateString();

    if (Session["function"] == null)
    {
        Response.Redirect("~/Home/Index");
    }
}

<link href="~/Content/deleteView.css" rel="stylesheet" />

<div class="wrapper-box">
    <div class="wrapper-top">
        <div class="user-eclipse">
            @userLetter
        </div>
    </div>
    <div class="wrapper-mid">
        <h3 class="wrapper-title">verwijderen</h3>
    </div> <br />

           <div class="wrapper-info" style="width:450px">
               <a class="text-label">Voornaam</a>

               <div class="text-info">
                   @Html.DisplayFor(model => model.Voornaam)
               </div>
               <br />
               <a class="text-label">Achternaam</a>

               <div class="text-info">
                   @Html.DisplayFor(model => model.Achternaam)
               </div>
               <br />
               <a class="text-label">Adres</a>

               <div class="text-info">
                   @Html.DisplayFor(model => model.Adres)
               </div>
               <br />
               <a class="text-label">Geboortedatum</a>

               <div class="text-info">
                   @shortDate
               </div>
               <br />
               <a class="text-label">Telefoonnummer</a>

               <div class="text-info">
                   @Html.DisplayFor(model => model.Telefoonnummer)
               </div>
               <br />
               <a class="text-label">Afdeling_ID</a>

               <div class="text-info">
                   @Html.DisplayFor(model => model.Afdeling_ID)
               </div>
               <br />
               <a class="text-label">Kamer_ID</a>

               <div class="text-info">
                   @Html.DisplayFor(model => model.Kamer_ID)
               </div>
               <br />
               <a class="text-label">Gearchiveerd</a>

               <div class="text-info">@Html.DisplayFor(model => model.Gearchiveerd)</div>



               @using (Html.BeginForm())
               {
                   @Html.AntiForgeryToken()

                   <div>
                       <button class="button-submit" onclick="location.href='@Url.Action("Delete","Patient", new { id = Model.Patiënt_ID     })'">Verwijderen</button>
                   </div>
               }

               <div>
                   <button class="button-back" onclick="location.href='@Url.Action("Index", "Patient" )'">Terug</button>
               </div>

           </div>
</div>
