@model Ziekenhuis_StayHealthy.Models.Patient

@{
    ViewBag.Title = "Details";
}

<link href="~/Content/detailsPatient.css" rel="stylesheet" />

<div class="wrapper-box">
    <div class="wrapper-top">
        <div class="user-letter">

        </div>
    </div>
    <div class="wrapper-mid">
        <h3 class="create-title">Persoonlijke info</h3>
    </div>
    <div class="wrapper-info">
        @Html.DisplayNameFor(model => model.Voornaam)
        @Html.DisplayFor(model => model.Voornaam) <br />
        @Html.DisplayNameFor(model => model.Achternaam)
        @Html.DisplayFor(model => model.Achternaam)<br />
        @Html.DisplayNameFor(model => model.Adres)
        @Html.DisplayFor(model => model.Adres)<br />
        @Html.DisplayNameFor(model => model.Geboortedatum)
        @Html.DisplayFor(model => model.Geboortedatum)<br />
        @Html.DisplayNameFor(model => model.Telefoonnummer)
        @Html.DisplayFor(model => model.Telefoonnummer)<br />
        @Html.DisplayNameFor(model => model.Afdeling_ID)
        @Html.DisplayFor(model => model.Afdeling_ID)<br />
        @Html.DisplayNameFor(model => model.Kamer_ID)
        @Html.DisplayFor(model => model.Kamer_ID)<br />
        @Html.DisplayNameFor(model => model.Gearchiveerd)
        @Html.DisplayFor(model => model.Gearchiveerd)<br />
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Patiënt_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
