<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - StayHealthy</title>
    <link href="~/Content/navbar.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
    <div class="nav-container">
        <nav>
            <div class="logo">
                <img src="~/Images/navbar/logoMiddel.png" width="30" height="30" style="float: left;" />
                <a href="/home/Index" style="float:right;">STAYHEALTHY</a>
            </div>

            <div class="nav-items-wrapper">
                <ul class="nav-items">
                    <li>
                        <a href="/home/Index">Home</a>
                    </li>
                    @*
        Controle welke user is ingelogd + welke rol deze user heeft gekregen
        @if (Session["user"] != null)
        {
            <li>

                <a>@Session["user"].ToString()</a>
            </li>
        }

        @if (Session["function"] != null)
        {
            <li>

                <a>@Session["function"].ToString()</a>
            </li>

                    *@
                    @if (Session["function"] == null)
                    {
                        <li>
                            <a href="/home/Index">Services</a>
                        </li>
                        <li>
                            <a href="/home/Index">Over</a>
                        </li>
                        <li>
                            <a href="/home/Index">Contact</a>
                        </li>
                    }
                    else if (Session["function"].ToString() == "patient")
                    {
                        <li>
                            <a href="/Patient/DashboardPatient">CssDashboard</a>
                        </li>

                        <li>
                            <a href="/Patient/Interface">DevDashboard</a>
                        </li>
                        <li>
                            <a href="/Patient/Details">Mijn gegevens</a>
                        </li>




                    }
                    else if (Session["function"].ToString() == "admin")
                    {
                        <li>
                            <a href="/home/DashboardAdministratie">Dashboard</a>
                        </li>
                    }
                    else if (Session["function"].ToString() == "zorgverlener")
                    {
                        <li>
                            <a href="/zorgverlener/DashboardZorgverlener">Dashboard</a>
                        </li>
                    }
                </ul>
            </div>



        </nav>
        <ul class="right-nav-items">
            @if (Session["function"] == null)
            {
                <li>
                    <button onclick="location.href=' @Url.Action("Login", "Login")';">Login</button>
                </li>
            }
            else
            {

                <li>
                    <button onclick="location.href=' @Url.Action("LogOut", "Login")';">Uitloggen</button>
                </li>

                if (Session["user"] != null)
                {
                    <li>
                        <a class="logged-in">Ingelogd: @Session["user"].ToString()</a>
                    </li>
                }
                else
                {
                    <li>
                        <a class="logged-in">Ingelogd: @Session["function"].ToString()</a>
                    </li>
                }
            }
        </ul>
    </div>


    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <!-- jQuery UI CSS Reference -->
    <link href="@Url.Content("~/Content/themes/base/minified/jquery-ui.min.css")" rel="stylesheet" />
    <!-- Required jQuery and jQuery UI Javascript references -->
    <script src="@Url.Content("~/Scripts/jquery-3.4.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.12.1.min.js")"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
