@model Ziekenhuis_StayHealthy.Models.Kamer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Kamer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Kamernaam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kamernaam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Afdeling_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Afdeling_ID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Kamer_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
